html, body {
}

* {
    -webkit-touch-callout: none;
}

h1.answer {
    font-size: 7em !important;
    padding-top: 60px;
    padding-right: 130px;
    text-shadow: #000 1px 1px 1px;
}

p.subtitle {
    font-size: 1.2em;
    padding: 5px 0 0 85px;
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 210px 60px;
    background-size: 60px 60px;
}

.card {
    background-image: url("background_portrait.jpg");
    background-size: 600px 800px;
    background-position: 50% 50% !important;
}

address.about {
    bottom: 20px;
    right: 25px;
}

address.back {
    top: 25px;
    right: 25px;
}

.container.about .column.right {
    padding-top: 60px;
    padding-left: 20px;
}

.container.about .column.left,
.container.about .examples {
    display: none;
}

.stack {
    -webkit-perspective: 400;
}

.card {
    -webkit-transition: -webkit-transform 1s;
    -webkit-transform-style: preserve-3d;
    opacity: 1 !important;
}

.stack.flipped .card.front {
    -webkit-transform: rotateY(-180deg) scale(0.5);
}

.card.front,
.stack.undo .card.front {
    -webkit-transform: rotateY(0deg) scale(1);
}

.stack.flipped .card.back {
    -webkit-transition: -webkit-transform 1s;
    -webkit-transform: rotateY(0deg) scale(1);
}

.card.back,
.stack.undo .card.back {
    -webkit-transition: -webkit-transform 1s;
    -webkit-transform: rotateY(180deg) scale(0.5);
}

.card, .card * {
    -webkit-backface-visibility: hidden;
}

