html, body {
    background: #15152d;
    color: #f9f9f9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    text-align:center;
}

h1.answer {
    font-size: 14em;
    font-weight: normal;
    text-shadow: #000 1px 3px 3px;
    color: #f9f9f9;
    text-align: right;
    padding: 5px 230px 0 0;
}

h1 .first {
    letter-spacing: -0.1em;
}

h2, p, li {
    text-shadow: #000 1px 1px 1px;
    color: #ccccdc;
    font-size: 0.9em;
    line-height: 1.3em;
}

p {
    margin-bottom: 10px;
    line-height: 1.4em;
}

.column {
    float: left;
}

.column.left {
    width: 320px;
    padding-right: 30px;
}

.column.right {
    width: 270px;
}

ul {
    margin-bottom: 10px;
}

a {
    color: white;
}

li {
    list-style-type: circle;
    margin-left: 15px;
}

strong {
    font-weight: normal;
}

h2 {
    margin-bottom: 5px;
}

p.subtitle {
    font-size: 2em;
    padding: 5px 0 0 220px;
    margin: 0;
}

.distance {
    float: left;
    height: 50%;
    margin-bottom: -150px;
}

.container {
    position: relative;
    clear: left;
    height: 300px;
    width: 620px;
    margin: 0 auto;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 400px top;
}

body.moon .container.moon {
    background-image: url("moon.png");
}

body.fullmoon .container.moon {
    background-image: url("fullmoon.png");
}

address.about {
    position: absolute;
    bottom: 30px;
    right: 35px;
    cursor: pointer;
}

address.back {
    position: absolute;
    top: 40px;
    right: 35px;
    cursor: pointer;
}

.container {
    position: relative;
}

.stack {
    width: 100%;
    height: 100%;
    position: absolute;
}

.card {
    background: #15152d;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transition: opacity 0.5s ease-out;
}

.card.front {
}

.stack.flipped .card.back {
    opacity: 0.96;
}

.card.back {
    display: none;
    opacity: 0;
}

.stack.undo .card.back {
    opacity: 0;
}
